.percent-cell {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}

tr:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.percent-cell__percent {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.bg-green {
    background-color: #e6f4ea;
}

.bg-red {
    background-color: #fce8e6;
}

.price-cell {
    width: 350px;
}

@keyframes blink-green {
    0% { background-color: #e6f4ea; }
    100% { background-color: inherit; }
}

@-webkit-keyframes blink-green {
    0% { background-color: #e6f4ea; }
    100% { background-color: inherit; }
}

@keyframes blink-red {
    0% { background-color: #fce8e6; }
    100% { background-color: inherit; }
}

@-webkit-keyframes blink-red {
    0% { background-color: #fce8e6; }
    100% { background-color: inherit; }
}

.blink-red:not(:hover) {
    -webkit-animation: blink-red 0.9s linear normal;
    -moz-animation: blink-red 0.9s linear normal;
    animation: blink-red 0.9s linear normal;
}

.blink-green:not(:hover) {
    -webkit-animation: blink-green 0.9s linear normal;
    -moz-animation: blink-green 0.9s linear normal;
    animation: blink-green 0.9s linear normal;
}
