.settings-wrapper {
    width: 700px;
    padding: 50px;
    border: 1px solid #e8eaed;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: #e8eaed 0 2px 10px;
    margin: 50px auto;
}

.settings-title {
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
}
